<div id="modal1" class="modal">
  <div class="modal-content">
    <h4 class="modal-title">Add link</h4>

    <form class="col s12">

      <div class="row">
        <div class="input-field col s12">
          {{input value=title placeholder="Google" id="link_title" type="text" class="validate"}}
          <label class="active" for="link_title">Title</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          {{input value=url placeholder="www.google.com" id="link_url" type="url" class="validate"}}
          <label class="active" for="link_url">URL</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          {{#x-select value=categoryId}}
            <option value="" disabled selected>Choose a category</option>

              {{#each categories as |category|}}
                {{#x-option value=category.id}}{{category.name}}{{/x-option}}
              {{/each}}

          {{/x-select}}
          <label>Category</label>
        </div>
      </div>

      <div class="modal-footer">
        <a {{action '_submitLink'}} href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
      </div>

    </form>


  </div>

</div>
