{{yield}}
<ul class="collection">
  <li class="collection-item">Programming</li>
  <li class="collection-item">Music</li>
  <li class="collection-item">Knitting</li>
  <li class="collection-item">Food</li>
</ul>
