{{yield}}
<ul class="collection">
  <li class="list-item collection-item bold">Programming</li>
  <li class="list-item collection-item bold">Music</li>
  <li class="list-item collection-item bold">Knitting</li>
  <li class="list-item collection-item bold">Food</li>
</ul>
