<div class="container">

  <a href="#" data-activates="slide-out" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only">
    <i class="material-icons">menu</i>
  </a>

  <ul id="slide-out" class="side-nav left-sidebar fixed">
    <div class="sidebar-container">

      <li class="list-item"><div id="logo-container" class="sidebar-logo deep-purple-text text-accent-2">linkie</div></li>
      <li class="list-item search">
        <div class="search-wrapper card">
          <input id="search"><i class="material-icons">search</i>
          <div class="search-results"></div>
        </div>
      </li>

      <li class="list-item">
        <ul class="collection category-collection">
          {{#each model.categories as |category|}}
            {{category-list-item title=category.title}}
          {{/each}}
        </ul>
      </li>

    </div>
  </ul>

  <a href="#" data-activates="slide-out" class="button-collapse">
    <i class="mdi-navigation-menu"></i>
  </a>
  
</div>
