<div class="navbar-fixed topbar">
  <nav class="topbar">
    <div class="nav-wrapper">

      <a href="#!" class="topbar-brand-logo">linkie</a>

      <ul class="right hide-on-med-and-down">
        {{!-- <li><a href="sass.html">Sass</a></li> --}}
        {{!-- <li><a href="badges.html">Components</a></li> --}}
      </ul>

      <ul class="center">
        <li>
          <div class="input-field">
            <input placeholder="paste link here" id="first_name" type="text" class="validate">
          </div>
        </li>
      </ul>

    </div>
  </nav>
</div>
