<div class="navbar-fixed topbar">
  <nav class="topbar">
    <div class="nav-wrapper">

      {{#link-to 'profile' class="topbar-brand-logo"}}linkie{{/link-to}}

      <ul class="right hide-on-med-and-down">
        <li>
          {{avatar-img}}
        </li>
        <li>
          <a {{action '_logout'}} class="waves-effect waves-light btn-large logout-button">Logout</a>
        </li>
      </ul>

        <ul class="center inputbox">
          <li class="input-field">
            <input placeholder="paste link here" id="first_name" type="text" class="validate">
          </li>
        </ul>

    </div>
  </nav>
</div>
