<div class="navbar-fixed topbar">
  <nav class="topbar">
    <div class="nav-wrapper">

      <a href="#!" class="topbar-brand-logo">linkie</a>

      <ul class="right hide-on-med-and-down">
        <li>
          {{avatar-img}}
        </li>
      </ul>

      <ul class="center">
        <li class="input-field inputbox">
          <input placeholder="paste link here" id="first_name" type="text" class="validate">
        </li>
      </ul>

    </div>
  </nav>
</div>
