@import 'materialize';
@import 'normalize';
@import 'sidebar';
@import 'profile';
@import 'topbar';
@import 'landing';
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body > .ember-view {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.brand-logo {
  font-family: 'Shadows Into Light', cursive;
  margin-top: 0;
}

.bold {
  font-weight: bold;
}
