.main-content {
  height: 90vh;
  padding-left: 18.2em;
  padding-top: 1em;
  padding-right: 2em;
  background-image: url(images/geometry2.png);
  // background image from subtlepatterns.com
}

@media only screen and (max-width : 992px) {
  .main-content {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
}

// fab
.btn-floating.btn-large {
  height: 75px;
  width: 75px;
  line-height: 96px;
  text-align: center;
}

.btn-large i {
  font-size: 2.2rem;
}

.card {
  max-height: 12em;
}

// Link card
.card.small {

  .card-content {
  max-height: 12em;
  padding: 0.8em;
  }

  .card-action {
    padding: 0.8em;
  }

  .link-delete {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    color: bisque;
    font-size: x-large;
    font-family: cursive;
  }
}

// tiny screens
.grid-sizer,
.grid-item { width: 100%; }

// 2 columns for small screens
@media screen and (min-width: 401px) {
  .grid-sizer,
  .grid-item { width: 50%; }
}

// 3 columns for medium screens
@media screen and (min-width: 601px) {
  .grid-sizer,
  .grid-item { width: 33.333%; }
}

// 4 columns for large screens
@media screen and (min-width: 1280px) {
  .grid-sizer,
  .grid-item { width: 25%; }
}

// 5 columns for xl screens
@media screen and (min-width: 1500px) {
  .grid-sizer,
  .grid-item { width: 20%; }
}
