.topbar {
  height: 10vh;
}

nav .nav-wrapper {
  height: 10vh;
}

.topbar-brand-logo {
  font-size: 6.5vh;
  padding-left: 20px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

// element selectors are used for materialize.css style overrides
// up to medium screen
.navbar-fixed {
  // height: 10vh;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  line-height: normal;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
      left: 0%;
      transform: none;
    }
}

@media only screen and (max-height: 800px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 80px;
  }
}

.logout-button {
  margin-top: 3vh !important;
  margin-right: 2vw !important;
}

#sidebar-slide-out-button {
  height: 8vh;
  margin-top: 0.8vh;
  margin-left: 1vw;
}

.sidebar-slide-out-icon {
  margin-top: 1.8vh;
}

.button-collapse.top-nav i {
  font-size: 4.5vh;
}
