<div class="site-wrapper">

  <div class="masthead clearfix">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Linkie</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Features</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="cover-container">
    <div class="inner cover">
      <h1 class="cover-heading">Linkie</h1>
      <p class="lead">Create curated lists of your favourite web links and instantly share them with your friends!</p>
      <div class="btn-toolbar">
        <a class="waves-effect waves-light btn"><i class="material-icons right">info</i>Learn more</a>
        <a class="waves-effect waves-light btn"><i class="material-icons right">perm_identity</i>Sign in</a>
      </div>
    </div>

    <div class="mastfoot">
      <div class="inner">
        <p>Linkie Team, 2016</p>
      </div>
    </div>

  </div>
</div>
