<div class="cover-wrapper">

  <div class="navbar">
    <nav>
      <div class="nav-wrapper red lighten-1">
        <a href="#" class="brand-logo white-text">Linkie</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Features</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="cover-container">
    <div class="cover inner">
      <h1 class="cover-heading white-text">Linkie</h1>
      <p class="flow-text amber-text text-lighten-4 lead">Create curated lists of your favourite web links and instantly share them with your friends!</p>
      <div class="btn-toolbar">
        <a class="waves-effect waves-light btn-large"><i class="material-icons right">info</i>Learn more</a>
        <a class="waves-effect waves-light btn-large red"><i class="material-icons right">perm_identity</i>Sign in</a>
      </div>
    </div>

    <div class="footer">
      <div class="inner grey-text">
        <p>Linkie Team, 2016</p>
      </div>
    </div>

  </div>
</div>
