<div class="sidebar">
  {{show-sidebar name="left-sidebar"}}
</div>

<div class="main-content">
  <h2>Profile main</h2>
  {{link-list-grid}}
</div>
{{outlet}}
{{in-sidebar name="left-sidebar" show=(component "left-sidebar" model=model)}}
